@model UyeTakipMVC.Models.KullaniciMenuYetkiClass
@{
    ViewData["Title"] = "NewYetki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Yetki Tanımla</h1>
<br />
@using (Html.BeginForm("NewYetki", "Yetki", FormMethod.Post))
{
    @Html.Label("Kullanıcı Ad")
    @Html.DropDownListFor(x => x.kullanici_id, (List<SelectListItem>)ViewBag.kullanici, new { @class = "form-control" })
    <br />
    @Html.Label("Menü Ad")
    @Html.DropDownListFor(x => x.menu_id, (List<SelectListItem>)ViewBag.menu, new { @class = "form-control" })
    <br />
    @Html.Label("Ekleme")
    @Html.CheckBoxFor(x => x.ekleme, new { @class = "form-control" })
    <br />
    @Html.Label("Okuma")
    @Html.CheckBoxFor(x => x.okuma, new { @class = "form-control" })
    <br />
    @Html.Label("Güncelleme")
    @Html.CheckBoxFor(x => x.guncelleme, new { @class = "form-control" })
    <br />
    @Html.Label("Silme")
    @Html.CheckBoxFor(x => x.silme, new { @class = "form-control" })
    <br />
    <button class="btn btn-info" style="background-color:darkblue">Ekle</button>
    <a href="/Yetki/Index">Geri Dön</a>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}